* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
}

.calculator {
    background: rgb(11, 10, 11);
    padding: 20px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 5px 20px rgba(91, 79, 79, 0.4);
}

#display {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #ede3e3;
    color: rgb(14, 13, 14);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background: #4b5563;
    color:#f4f8ed;
    transition: 0.2s;
}

button:hover {
    background: rgb(182, 187, 172);
}

.equal {
    grid-row: span 2;
    background: #ea5353;
}

.equal:hover {
    background: #b83e1f;
}

.zero {
    grid-column: span 2;
}